---
layout: default
---

    <main class="main-news-container">
      <div>
        <div class="news-header">
          <h1>{{ page.title }}</h1>
          <div class="meta">
            Publicado em: {{ page.date | date: "%d-%m-%Y" }} | Autor:
            <a href="{{ page.author_link }}">{{ page.author }}</a>
          </div>
        </div>
        <div class="news-content">
          <img
            src="{{ page.image }}"
            alt="{{ page.alt_image | default: page.title }}"
            class="news-image"
          />
          {{ content }}
        </div>
      </div>
    </main>

    <footer>
      <div class="container-footer">
        <div class="row-footer">
          <div class="footer-col">
            <h4>Site</h4>
            <ul>
              <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
              <li><a href="{{ site.baseurl }}/blogs-main.html">Blogs</a></li>
              <li><a href="{{ site.baseurl }}/sobre.html">Quem somos</a></li>
              <li><a href="{{ site.baseurl }}/servicos.html">Serviços</a></li>
            </ul>
          </div>
          <!--end footer col-->
          <!-- footer col-->
          <div class="footer-col">
            <h4>Redes Sociais</h4>
            <ul>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Instragram</a></li>
              <li><a href="#">Tiktok</a></li>
              <li><a href="#">Youtube</a></li>
            </ul>
          </div>
          <!--end footer col-->
          <!-- footer col-->
          <div class="footer-col">
            <h4>Serviços</h4>
            <ul>
              <li><a href="{{ site.baseurl }}/calculo-despesas.html">Calculos de Despesas</a></li>
              <li><a href="{{ site.baseurl }}/recomendacaoinvestimento.html">Investimentos</a></li>
            </ul>
          </div>
          <!--end footer col-->
          <!-- footer col-->
          <div class="footer-col">
            <h4>Inscreva-se na Newsletter</h4>
            <div class="form-sub">
              <form>
                <input
                  type="email"
                  placeholder="Digite o seu e-mail"
                  required
                />
                <button>Se inscrever</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="{{ site.baseurl }}/script/js-universal.js"></script>
  <script src="{{ site.baseurl }}/script/notice-time.js"></script>
  <script src="{{ site.baseurl }}/script/contact.js"></script>
  <script src="{{ site.baseurl }}/script/image-optimizer.js" defer></script>
  <script src="{{ site.baseurl }}/script/webp-converter.js" defer></script>
  <script
    src="https://kit.fontawesome.com/e1063b7707.js"
    crossorigin="anonymous"
    async
  ></script>
</html>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "NewsArticle",
    "headline": "{{ page.title }}",
    "image": ["{{ page.image }}"],
    "datePublished": "{{ page.date | date_to_xmlschema }}",
    "dateModified": "{% if page.last_modified_at %}{{ page.last_modified_at | date_to_xmlschema }}{% else %}{{ page.date | date_to_xmlschema }}{% endif %}",
    "author": {
      "@type": "Person",
      "name": "{{ page.author | default: 'InvestSavy' }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "InvestSavy",
      "logo": {
        "@type": "ImageObject",
        "url": "/images/Camada 1.png"
      }
    },
    "description": "{{ page.excerpt | strip_html | truncate: 160 }}"
  }
</script>
